.container {
  max-width: 1190px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

@include breakpoint-down (720) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@include breakpoint-down (370) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
